<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Component</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>nav</nav>
    <menu>
      <button>New</button>
      <button>Reply</button>
      <button>Forward</button>
      <button>Mark Unread</button>
      <button>Trash</button>
    </menu>
    <section>
      <div class="mail">mail 1</div>
      <div class="mail">mail 2</div>
      <div class="mail">mail 3</div>
      <div class="mail">mail 4</div>
      <div class="mail">mail 5</div>
      <div class="mail">mail 6</div>
      <div class="mail">mail 7</div>
      <div class="mail">mail 8</div>
      <div class="mail">mail 9</div>
      <div class="mail">mail 10</div>
    </section>
    <main>mail view</main>
    <aside>aside info</aside>
  </body>
</html>
